.messages-page {
  padding: 20px;
}

.header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.chat-list {
  margin-bottom: 20px;
}

.chat-item {
  display: flex;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
}

.contact-name {
  font-weight: bold;
}

.last-message {
  color: #888;
}

.input-section {
  display: flex;
  justify-content: space-between;
}

#messageInput {
  width: 80%;
  padding: 5px;
}

.send-button {
  width: 15%;
  padding: 5px;
}
